<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <div class="page-header">
    <h2>Welcome to the UNO Card Game!</h2>
    </div>
    <p>
      Welcome to our little UNO card game demo! Please select the number of players for the game, and click start to receive your hand!
    </p>
    <app-dashboard [playerNo]="players" (add)="whenAdding()" (remove)="whenRemoving()" (start)="whenStarting()" ></app-dashboard>
    <br>
  </div>
  <div>
      <app-playing-field (onClicking)="whenClicking()" [playingPlayers]="playing"></app-playing-field>
  </div>
</div>



